POSTGRES_AUTH_USER=
POSTGRES_AUTH_PASSWORD=
POSTGRES_AUTH_DB=
APP_PORT_AUTH=

POSTGRES_BONDS_USER=
POSTGRES_BONDS_PASSWORD=
POSTGRES_BONDS_DB=
APP_PORT_BONDS=

POSTGRES_PORTFOLIO_USER=
POSTGRES_PORTFOLIO_PASSWORD=
POSTGRES_PORTFOLIO_DB=
APP_PORT_PORTFOLIO=

REDIS_HOST=
REDIS_PORT=

TOKEN_API_TBANK=t...
JWT_SECRET=